@import "../../styles/Constants.module.scss";

.reptarium {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 0 0 200px 0;

  .titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .title {
      margin: 0;
      font-family: "Roboto", sans-serif;
      font-size: 80px;
      line-height: 90%;
      color: $primary-color-90;
      white-space: nowrap;

      .gradientText {
        background: $text-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .subtitle {
      margin: 0;
      font-family: "Inter", sans-serif;
      font-size: 16px;
      color: $primary-color-60;
      font-weight: 400;
      max-width: 520px;
      text-align: center;
    }
  }
}
