@import "./Constants.module.scss";

.hero {
  position: absolute;
  width: 805px;
  height: 805px;
  background-image: url("/assets/Hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 50%;
  transform: translate(-32%, -27%);
  transition: 0.2s all ease-in-out;
  pointer-events: none;
  z-index: 1;

  @media (max-width: $breakpoint-mobile) {
    width: 500px;
    height: 500px;
    transform: translate(-32%, 20%);
  }
}
