@import "../../styles/Constants.module.scss";

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 0 0 200px 0;
  position: relative;
  z-index: 3;

  .titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .title {
      margin: 0;
      font-family: "Roboto", sans-serif;
      font-size: 80px;
      line-height: 90%;
      color: $primary-color-90;
      white-space: nowrap;

      .gradientText {
        background: $text-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      @media (max-width: $breakpoint-laptop) {
        font-size: 68px;
      }

      @media (max-width: $breakpoint-tablet) {
        font-size: 48px;
      }

      @media (max-width: $breakpoint-mobile) {
        font-size: 36px;
      }
    }

    .subtitle {
      margin: 0;
      font-family: "Inter", sans-serif;
      font-size: 16px;
      color: $primary-color-60;
      font-weight: 400;
      max-width: 520px;
      text-align: center;
      letter-spacing: 0.02em;

      @media (max-width: $breakpoint-mobile) {
        font-size: 14px;
      }
    }
  }

  .skillsWrapper {
    position: relative;
    width: 100%;

    .skills {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 30px;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      position: relative;
      padding: 0 0 20px 0;

      &::-webkit-scrollbar-track {
        background: transparent;
        height: 6px;
        background: $primary-color-10;
        border-radius: 10px;
      }

      &::-webkit-scrollbar {
        height: 6px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: $primary-color-20;
        transition: all 0.2s ease-in-out;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #4a5158;
        transition: all 0.2s ease-in-out;
      }

      .skillBlock {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        min-width: 160px;
        scroll-snap-align: start;

        .skillImage {
          position: relative;
          width: 100%;
          background: #202020;
          border-radius: 12px;
        }

        .skillImage:after {
          content: "";
          display: block;
          padding-top: 100%;
        }

        .skillBody {
          display: flex;
          flex-direction: column;
          gap: 6px;

          .skillTitle {
            font-size: 18px;
            color: $primary-color-90;
            font-weight: 400;
            margin: 0;

            @media (max-width: $breakpoint-mobile) {
              font-size: 16px;
            }
          }

          .skillDescription {
            font-size: 16px;
            color: $primary-color-60;
            font-weight: 400;
            margin: 0;

            @media (max-width: $breakpoint-mobile) {
              font-size: 14px;
            }
          }
        }
      }

      @media (max-width: $breakpoint-mobile) {
        gap: 20px;
      }
    }

    &::after {
      content: "";
      top: 0;
      right: -1px;
      position: absolute;
      height: calc(100% - 20px);
      width: 80px;
      background: linear-gradient(
        90deg,
        rgba(12, 12, 13, 0) 0%,
        rgba(12, 12, 13, 60) 100%
      );
      pointer-events: none;
      display: none;

      @media (max-width: $breakpoint-tablet) {
        display: inherit;
      }
    }
  }
}
